<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Sharepoint" version="1.0.1" targetFramework="net45" />
  <package id="Microsoft.SharePoint.Client.Online.CSOM" version="15.0.4763.1000" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="Sharepoint.ListItemExtensions" version="1.0.4" targetFramework="net45" />
  <package id="Simple.AES" version="2.0.2.0" targetFramework="net45" />
</packages>